.menu-button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 36px;
  padding: 10px;
  border-radius: 7px;
  background: #0a66c3;
  cursor: pointer;
}

.menu-button span {
  width: 40px;
  height: 4px;
  background: white;
}

.menu-toggle {
  display: none;
}
.toggle {
  display: none;
  text-align: center;
  background: #0a66c3;
  border-radius: 7px;
  padding: 20px;
  width: 150px;
  margin: 10px auto;
}
.toggle li {
  list-style: none;
  display: block;
  padding: 10px 0;
  color: #fafafa;
}
.menu-toggle:checked + .toggle {
  display: block;
}
